<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gold Farm</title>
    <link rel="stylesheet" href="serv/css/style.css" type="text/css">
</head>
<body>
    <audio autoplay="true" src="https://upload.wikimedia.org/wikipedia/commons/c/c8/Example.ogg"></audio>
    {{ if or ( or (eq .G.TryNumber 10) (eq .G.TryNumber 9) ) (eq .G.TryNumber 8) }}
    <style>
        body {
            background-color: rgb(93, 247, 156 );
        }
    </style>
    {{ end }}
    {{ if or ( or (eq .G.TryNumber 7) (eq .G.TryNumber 6) ) (or (eq .G.TryNumber 5) (eq .G.TryNumber 4)) }}
    <style>
        body {
            background-color: #fcc640;
        }
    </style>
    {{ end }}
    {{ if or ( or (eq .G.TryNumber 3) (eq .G.TryNumber 2) ) (or (eq .G.TryNumber 1) (eq .G.TryNumber 0)) }}
    <style>
        body {
            background-color: #fc5d40;
        }
    </style>
    {{ end }}
    <div>
        <h1>Gold Farm</h1>
    </div>
    <div class="flex">
        {{ if eq .G.Win "inGame"}}
            <div class="column right white">
                <form action="/hangman" method="post">
                    <input type="text" name="letter" value="" placeholder="Try a letter or a word" class="button text-zone margin" />
                    <input type="submit" class="button margin" role="button" value="Submit">
                </form>
                <form action="/hangman" method="post">
                    <input type="submit" class="button" value="A" name="letterAlphabet" {{ if eq (index .G.LetterColor 0) "in" }} style="background-color: rgb(93, 247, 156 );" {{ end }} {{ if eq (index .G.LetterColor 0) "out" }} style="background-color:  rgb( 122, 122, 122 );" {{ end }}>
                    <input type="submit" class="button" value="Z" name="letterAlphabet" {{ if eq (index .G.LetterColor 25) "in" }} style="background-color: rgb(93, 247, 156 );" {{ end }} {{ if eq (index .G.LetterColor 25) "out" }} style="background-color:  rgb( 122, 122, 122 );" {{ end }}>
                    <input type="submit" class="button" value="E" name="letterAlphabet" {{ if eq (index .G.LetterColor 4) "in" }} style="background-color: rgb(93, 247, 156 );" {{ end }} {{ if eq (index .G.LetterColor 4) "out" }} style="background-color:  rgb( 122, 122, 122 );" {{ end }}>
                    <input type="submit" class="button" value="R" name="letterAlphabet" {{ if eq (index .G.LetterColor 17) "in" }} style="background-color: rgb(93, 247, 156 );" {{ end }} {{ if eq (index .G.LetterColor 17) "out" }} style="background-color:  rgb( 122, 122, 122 );" {{ end }}>
                    <input type="submit" class="button" value="T" name="letterAlphabet" {{ if eq (index .G.LetterColor 19) "in" }} style="background-color: rgb(93, 247, 156 );" {{ end }} {{ if eq (index .G.LetterColor 19) "out" }} style="background-color:  rgb( 122, 122, 122 );" {{ end }}>
                    <input type="submit" class="button" value="Y" name="letterAlphabet" {{ if eq (index .G.LetterColor 24) "in" }} style="background-color: rgb(93, 247, 156 );" {{ end }} {{ if eq (index .G.LetterColor 24) "out" }} style="background-color:  rgb( 122, 122, 122 );" {{ end }}>
                    <input type="submit" class="button" value="U" name="letterAlphabet" {{ if eq (index .G.LetterColor 20) "in" }} style="background-color: rgb(93, 247, 156 );" {{ end }} {{ if eq (index .G.LetterColor 20) "out" }} style="background-color:  rgb( 122, 122, 122 );" {{ end }}>
                    <input type="submit" class="button" value="I" name="letterAlphabet" {{ if eq (index .G.LetterColor 8) "in" }} style="background-color: rgb(93, 247, 156 );" {{ end }} {{ if eq (index .G.LetterColor 8) "out" }} style="background-color:  rgb( 122, 122, 122 );" {{ end }}>
                    <input type="submit" class="button" value="O" name="letterAlphabet" {{ if eq (index .G.LetterColor 14) "in" }} style="background-color: rgb(93, 247, 156 );" {{ end }} {{ if eq (index .G.LetterColor 14) "out" }} style="background-color:  rgb( 122, 122, 122 );" {{ end }}>
                    <input type="submit" class="button" value="P" name="letterAlphabet" {{ if eq (index .G.LetterColor 15) "in" }} style="background-color: rgb(93, 247, 156 );" {{ end }} {{ if eq (index .G.LetterColor 15) "out" }} style="background-color:  rgb( 122, 122, 122 );" {{ end }}><br>
                    <input type="submit" class="button" value="Q" name="letterAlphabet" {{ if eq (index .G.LetterColor 16) "in" }} style="background-color: rgb(93, 247, 156 );" {{ end }} {{ if eq (index .G.LetterColor 16) "out" }} style="background-color:  rgb( 122, 122, 122 );" {{ end }}>
                    <input type="submit" class="button" value="S" name="letterAlphabet" {{ if eq (index .G.LetterColor 18) "in" }} style="background-color: rgb(93, 247, 156 );" {{ end }} {{ if eq (index .G.LetterColor 18) "out" }} style="background-color:  rgb( 122, 122, 122 );" {{ end }}>
                    <input type="submit" class="button" value="D" name="letterAlphabet" {{ if eq (index .G.LetterColor 3) "in" }} style="background-color: rgb(93, 247, 156 );" {{ end }} {{ if eq (index .G.LetterColor 3) "out" }} style="background-color:  rgb( 122, 122, 122 );" {{ end }}>
                    <input type="submit" class="button" value="F" name="letterAlphabet" {{ if eq (index .G.LetterColor 5) "in" }} style="background-color: rgb(93, 247, 156 );" {{ end }} {{ if eq (index .G.LetterColor 5) "out" }} style="background-color:  rgb( 122, 122, 122 );" {{ end }}>
                    <input type="submit" class="button" value="G" name="letterAlphabet" {{ if eq (index .G.LetterColor 6) "in" }} style="background-color: rgb(93, 247, 156 );" {{ end }} {{ if eq (index .G.LetterColor 6) "out" }} style="background-color:  rgb( 122, 122, 122 );" {{ end }}>
                    <input type="submit" class="button" value="H" name="letterAlphabet" {{ if eq (index .G.LetterColor 7) "in" }} style="background-color: rgb(93, 247, 156 );" {{ end }} {{ if eq (index .G.LetterColor 7) "out" }} style="background-color:  rgb( 122, 122, 122 );" {{ end }}>
                    <input type="submit" class="button" value="J" name="letterAlphabet" {{ if eq (index .G.LetterColor 9) "in" }} style="background-color: rgb(93, 247, 156 );" {{ end }} {{ if eq (index .G.LetterColor 9) "out" }} style="background-color:  rgb( 122, 122, 122 );" {{ end }}>
                    <input type="submit" class="button" value="K" name="letterAlphabet" {{ if eq (index .G.LetterColor 10) "in" }} style="background-color: rgb(93, 247, 156 );" {{ end }} {{ if eq (index .G.LetterColor 10) "out" }} style="background-color:  rgb( 122, 122, 122 );" {{ end }}>
                    <input type="submit" class="button" value="L" name="letterAlphabet" {{ if eq (index .G.LetterColor 11) "in" }} style="background-color: rgb(93, 247, 156 );" {{ end }} {{ if eq (index .G.LetterColor 11) "out" }} style="background-color:  rgb( 122, 122, 122 );" {{ end }}>
                    <input type="submit" class="button" value="M" name="letterAlphabet" {{ if eq (index .G.LetterColor 12) "in" }} style="background-color: rgb(93, 247, 156 );" {{ end }} {{ if eq (index .G.LetterColor 12) "out" }} style="background-color:  rgb( 122, 122, 122 );" {{ end }}><br>
                    <input type="submit" class="button" value="W" name="letterAlphabet" {{ if eq (index .G.LetterColor 22) "in" }} style="background-color: rgb(93, 247, 156 );" {{ end }} {{ if eq (index .G.LetterColor 22) "out" }} style="background-color:  rgb( 122, 122, 122 );" {{ end }}>
                    <input type="submit" class="button" value="X" name="letterAlphabet" {{ if eq (index .G.LetterColor 23) "in" }} style="background-color: rgb(93, 247, 156 );" {{ end }} {{ if eq (index .G.LetterColor 23) "out" }} style="background-color:  rgb( 122, 122, 122 );" {{ end }}>
                    <input type="submit" class="button" value="C" name="letterAlphabet" {{ if eq (index .G.LetterColor 2) "in" }} style="background-color: rgb(93, 247, 156 );" {{ end }} {{ if eq (index .G.LetterColor 2) "out" }} style="background-color:  rgb( 122, 122, 122 );" {{ end }}>
                    <input type="submit" class="button" value="V" name="letterAlphabet" {{ if eq (index .G.LetterColor 21) "in" }} style="background-color: rgb(93, 247, 156 );" {{ end }} {{ if eq (index .G.LetterColor 21) "out" }} style="background-color:  rgb( 122, 122, 122 );" {{ end }}>
                    <input type="submit" class="button" value="B" name="letterAlphabet" {{ if eq (index .G.LetterColor 1) "in" }} style="background-color: rgb(93, 247, 156 );" {{ end }} {{ if eq (index .G.LetterColor 1) "out" }} style="background-color:  rgb( 122, 122, 122 );" {{ end }}>
                    <input type="submit" class="button" value="N" name="letterAlphabet" {{ if eq (index .G.LetterColor 13) "in" }} style="background-color: rgb(93, 247, 156 );" {{ end }} {{ if eq (index .G.LetterColor 13) "out" }} style="background-color:  rgb( 122, 122, 122 );" {{ end }}>
                </form>
                <p>{{ .G.WordFind }}</p>
                <p>{{ .G.LetterTested }}</p>
                <p>{{ .G.TryNumber }} Try Left</p>
                <p>Mot à trouver : {{ .G.Word }}</p>
            </div>
            <div class="flex">
                <img src="serv/assets/images/hangman/hangman-{{ .G.TryNumber }}.png" alt=""\>
            </div>
        {{ end }}
        {{ if eq .G.Win "lose" }}
            <div class="column">
                <p> T'es super nul le mot c'était : {{ .G.Word }}</p>
                <form action="/">
                    <input type="submit" class="button margin" role="button" value="Home Page" >
                </form>
            </div>
        {{ end }}
        {{ if eq .G.Win "win" }}
            <div class="column">
                <p> Bien joué t'as gagné le mot c'était : {{ .G.Word }}</p>
                <form action="/">
                    <input type="submit" class="button margin" role="button" value="Home Page" >
                </form>
            </div>
        {{ end }}
    </div>
</body>
</html>