<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hangman</title>
    <link rel="stylesheet" href="templates/style.css" type="text/css">
</head>
<body>
    <div>
        <h1>Hangman</h1>
    </div>
    <div class="flex">
        {{ if eq .G.Win "inGame"}}
            <div class="column">
                <form action="/hangman" method="post">
                    <input type="text" name="letter" value="" placeholder="Try a letter" class="button" />
                    <input type="submit" class="button" role="button" value="Submit">
                </form>
                <p>{{ .G.WorldFind }}</p>
                <p>{{ .G.LetterTested }}</p>
                <p>{{ .G.TryNumber }} Try Left</p>
                <p>Mot à trouver : {{ .G.World }}</p>
            </div>
            <div class="flex">
                <img src="templates/images/hangman-{{ .G.TryNumber }}.png" alt=""\>
            </div>
        {{ end }}
        {{ if eq .G.Win "lose" }}
            <div>
                <p> T'es super nul le mot c'était : {{ .G.World }}</p>
                <form action="/">
                    <input type="submit" class="button" role="button" value="Home Page" >
                </form>
            </div>
        {{ end }}
        {{ if eq .G.Win "win" }}
            <div>
                <p> Bien joué t'as gagné le mot c'était : {{ .G.World }}</p>
                <form action="/">
                    <input type="submit" class="button" role="button" value="Home Page" >
                </form>
            </div>
        {{ end }}
    </div>
</body>
</html>