<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hangman</title>
</head>
<body>
    <h1 style="font-size: 30px;"><center>Hangman</center></h1>
    <form action="/hangman" method="post">
        Try a letter : <input type="text" name="letter" value="" /><br/>
        <input type="submit" value="Submit"/>
    </form>
    <span>Mot à trouver : {{ .G.WordToFind }}</span>
    <span>Mot acctuelle : {{ .G.WordFind }}</span>
    <span>Lettres déjà essayer : {{ .G.LetterTested }}</span>
    <span>Nombre d'essais : {{ .G.TryNumber }}</span>
    <p>/////</p>
    <p>{{ .Test }}</p>
    <p>/////</p>
    <img src="templates/images/hangman-{{ .G.TryNumber }}.png" alt=""\>
</body>
</html>